
fieldset{
    
    margin-top: 20px;
    margin-left: 30px ;
    width: 500px;
    border-radius: 15px;
}

article{
    position: relative;
    display: block;
    padding: 10px ;
}
input{
    position: relative;
    right: 0px ;
}
.userdetails {
    /* position: absolute; */
    width: 600px;
    background-color: white;
    height: 650px  ;
    margin-top: 3% ;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/credential.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit {
    margin-top: 30px;
    margin-left: 150px;
}
.prev {
    margin-left: 20px;
    margin-bottom: 20px ;
}
legend{
    color: red;
}
