.container {
            	
    width: 800px;
    height: 600px;
    border: 2px solid;
margin-top : 100px ; 
    margin-left: 350px;
overflow:hidden;
}
.background-image {
position:absolute;
    width: 800px;
    height: 600px;
         background-image:url('file:///C:/Users/hp/OneDrive/Pictures/track.png');
    background-size: cover;
opacity:0.6; 
z-index:0;                     	
}
#bar_represent {
margin-top:100px;
    width:800x;
height:500px;

z-index:1;

}
.head {
position:relative;
    font-size: 30px;
    margin-left: 20px;
    z-index: 1;
}
#bar {
position:relative;
    width: 600px;
    height: 30px;
    border: 1px solid;
    margin-left: 20px;
    background-color:white;
    z-index: 2;

            }
.color {
position:absolute;
    width: 600px;
    height: 30px;
    background-color: white;
    z-index:2;
overflow:hidden;
}
.sugg_head{
margin-left:350px;
margin-top:100px;
font-size:25px;
}  	
.sugg_point{
margin-left:400px;
font-size:19px;

}
li{margin-bottom:20px;}	
.dash{
background-color : black ;
height : 40px ;
position : fixed   ;
width : 1920px ;
overflow : hidden ;
display : block ; 
top : 0 ;
}	

.button{
margin-top:4px;
border:7px;
width:80px;
height:30px;
margin-left:1810px;
position:fixed;
}
.account{
margin-left:1770px;
width:22px;
height:22px;
margin-top:8px;
padding=0;
position:fixed;

}

.menu{
border : 1px;
border-color : white ; 
margin-left : 10px ;
margin-top : 8px ; 
width : 40px ;
height : 30px ;
position : fixed ;
}
.bar{
background-color : white ;
height : 5px ;
width : 40px ; 
margin-bottom : 5px ;
                
}
.side{
z-index : 1;
margin-top : 20px ;
position : fixed  ;
top : 20px ;
height : 100% ;
width : 0px ;
overflow : hidden ;
transition: width 0.2s;
background-color : black ;
}
.side a {
margin-left : 20px ;
margin-top : 40px ;
    display: block;
  font-size : 23px ;
    text-decoration: none;
    color: white ;
}
.side a:hover {
color : gray ;
}
.button:hover{
color : gray ;
}
.home_image{
width : 100% ;
height : 700px ;
}
.dash_image{

}
