body{
    margin: 0;
    padding: 0;
    background-image: url('../images/credential.jpg');
    background-size: cover;   			
    background-repeat: no-repeat;  
    display: flex;
    justify-content: center;
    align-items: center;
 }
.signin{
    width: 500px;
    background-color: white;
    height:200px;
    margin-top:50px;

}
.check{
    margin-left:20px;
    margin-top:20px;
    text-align:left;

}
.cinput{
    text-align:right;
    margin-left:20px;
}
.sign{
    margin-top:30px;
    margin-left:220px;
}
.create{
    margin-left:20px;
}
