.detail{
    margin-left:20px;
    margin-top:20px;
    text-align:left;
    
}
.input{
    text-align:right;
    margin-left:20px;
}

.userdetails{
    width: 500px;
      background-color: white;
    height:300px;
      margin-top:50px;		
    }
body{
    margin: 0;
    padding: 0;
    background-image: url('../images/credential.jpg');
    background-size: cover;   			
    background-repeat: no-repeat;  
    display: flex;
    justify-content: center;
    align-items: center;
 }
.submit{
    margin-top:30px;
    margin-left:150px;					

}
.prev{
    margin-left:20px;
}
